 <div class="title" style="text-align: center;">
            <h2>Pesquisar livros</h2> <br>
            <span>Digite os dados do livro que deseja buscar: </span>
</div>
<form action='/livro' method='GET'>
	<div class="card">
		<div class="lineInput">
			<input type='text' name='titulo' placeholder="Título do livro"><br>
			<input type='text' name='ano' placeholder="Ano de lançamento"><br>
			<input type='text' name='genero' placeholder="Gênero do livro"><br>
		</div>
		<button>Buscar</button>
	</div>
</form>