<div>Procure um livro: </div>
<form action='/livro' method='GET'>
	<label>Título: </label><input type='text' name='titulo'><br>
	<label>Ano: </label><input type='text' name='ano'><br>
	<label>Gênero: </label><input type='text' name='genero'><br>
	<button>Buscar</button>
</form>