<div>Cadastre um novo livro:</div>

<form action='/livro' method='POST'>
    <label>Título: </label><input type='text' name='titulo'><br>
    <label>Ano: </label><input type='text' name='ano'><br>
    <label>Gênero: </label><input type='text' name='genero'><br>
    <button>Cadastrar</button>
</form>