<div class="title" style="text-align: center;">
    <h2>Página inicial</h2> <br>
    <span>O que deseja fazer?</span>
</div>

<div class="card" style="text-align: center;">
    
    <a href="/buscaLivro"><button>Buscar livros</button></a> &emsp;
    
    <a href="/cadastraLivro"><button>Cadastrar livros</button></a>&emsp;
    
    <a href="#"><button>Editar meus dados</button></a>
</div>